@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Alagard';
    src: url('../public/alagard.ttf');
}

html,
body {
    overscroll-behavior: none;
    padding: 0;
    margin: 0;
    font-family: Alagard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
